/* Should be empty until you compile your LESS */
/* Css Reset */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  .container {
    max-width: 100%;
    background-color: #ffffff;
    height: 100%;
    color:#222222;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3%;
  }

  .topnav h1{
      font-size: 2em;
      margin-left: 6%;
  }
  
  .topnav {
    overflow: hidden;
    width: 100%;
    background-color: #828282;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right:0;
    top: 0;
    height:40px;
    width:5em;
    font-size: 2.3em;
  }

  .active {
    background-color: #D8D8D8;
    color: white;
  }

  .image-container{
      position: relative;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: bold;
  }
  .image-container img{
      width: 100%;
  }

  .image-container .bottom-left {
    color: #ffffff;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    padding:3%
  }

  .middle-container{
      box-sizing: border-box;
      display: flex;
      width:95%;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 3%;
      margin-left: 5%;
      color: #222222;
  }

  .middle-container > div {
      width: 40%;
  }

h2{
    font-size: 1.2em;
    font-weight: bold;
}

button{
    background-color: #ffffff;
    padding:1.5%;
    margin-top: 3%;
    line-height:1.5em;
    text-align: center;
    width: 25%;
}

.middle-container h2{
    margin-bottom: 3%;
    font-weight: bold;
}

.project-container{
    box-sizing: border-box;
    margin-top: 3%;
    display:flex;
    width: 90%;
    margin-left:5% ;
    flex-direction: column;
    position: relative;
}

.project-container h2{
    margin-bottom: 3%;
}
.project-container img{
    width: 100%;
}

.project-container .text-block{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: grey;
    color: #222222;
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-container #text-block1 {
      align-content: center;
      margin-left: 25%;
      margin-right: 25%;
      margin-top: 10%;
      margin-bottom: 10%;
      line-height: 1.5em;
      font-size: 1.15em;
  }

  #image-1{
      position:relative;
      width: 100%;
  }
  
  #image-1 h3{
      position: absolute;
      bottom:-30px;
      right: 0px;
      background-color: lightgrey;
      padding:3%;
      font-size: 1.5em;
      text-align:right;
      letter-spacing: .5em;
  }

  #image-2{
    position:relative;
    width: 100%;
}

#image-2 h3{
    position: absolute;
    bottom:-30px;
    left: 0px;
    background-color: lightgrey;
    padding:3%;
    font-size: 1.5em;
    text-align:right;
    letter-spacing: .5em;
}

#image-3{
    position:relative;
    width: 100%;
}

#image-3 h3{
    position: absolute;
    bottom:-30px;
    right: 0px;
    background-color: lightgrey;
    padding:3%;
    font-size: 1.5em;
    text-align:right;
    letter-spacing: .5em;
}

  .project-container #text-block2 {
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 1.5em;
    font-size: 1.15em;
}


.project-container #text-block3 {
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 1.5em;
    font-size: 1.15em;
}

footer{
    background-color: #828282;
}

.footer-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    color:#ffffff;
    line-height: 1em;
}

.footer-container h3{
    font-weight: bolder;
}

.footer-container span{
    font-weight: lighter;
    font-size: .5em;
}


@media(max-width:600px){
    .container {
        width: 100%;
        background-color: #ffffff;
        height: 100%;
        color:#222222;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 3%;
      }
    .image-container .bottom-left {
        color: #ffffff;
        position: absolute;
        bottom: 8px;
        left: 16px;
        font-size: 3em;
        text-align: left;
        line-height: 1em;
        padding:3%
      }
      .topnav a.icon {
        display: block;
        position: absolute;
        right:0;
        top: 0;
        width:1em;
        font-size: 2.3em;
      }
      .middle-container{
        box-sizing: border-box;
        display: flex;
        width:90%;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3%;
        color: #222222;
    }
      #image1{
          order:1;
          width:70%;
      }
     #textbox1{
          order:2;
          width:70%;
          margin-top: 1%;
          font-size:.8em;
     }
     #textbox1 h2{
         width:100%;
         font-size: 1.8em;
   }
   #textbox1 p{
    width:100%;
    font-size: .8em;
}
      button{
          width:100%;
      }
      #image2{
          order:3;
          margin-top:3%;
          width:70%;
      }
      #textbox2{
          order:4;
          width: 70%;
          text-align: left;
      }
      #textbox2 h2{
        margin-top: 3%;
        width: 100%;
        font-size: 1.5em;
        text-align: left;
    }
    #image-1{
        display: block;
        width: 100%;
    }
    #image-1 h3{
        position: absolute;
        bottom:-50px;
        background-color: lightgrey;
        font-size: 1.3em;
        vertical-align: center;
        margin-right: 23%;
        letter-spacing: .5em;
        line-height: 2em;
        margin-bottom: 3%;
    }
    #image-2 h3{
        position: absolute;
        bottom:-50px;
        background-color: lightgrey;
        font-size: 1.3em;
        vertical-align: center;
        margin-left: 23%;
        letter-spacing: .5em;
        line-height: 2em;
        margin-bottom: 3%;
    }
    #image-3 h3{
        position: absolute;
        bottom:-50px;
        background-color: lightgrey;
        font-size: 1.3em;
        vertical-align: center;
        margin-right: 20%;
        letter-spacing: .5em;
        line-height: 2em;
        margin-bottom: 3%;
    }
    .footer-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        color:#ffffff;
        line-height: 1em;
    }
    #box1{
        font-size: 1.8em;
        line-height: 1em;
    }

    #box1 input{
        width: 100%;
        margin-top: 2%;
        line-height: 3em;
    }
}